In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')# filter out warnings

In [9]:
df = pd.read_csv("D:/misbi masai/python.py/final_file.csv")
df.head()

,title,type,genres,imdbAverageRating,imdbNumVotes,availableCountries,releaseyear,FirstGenre
0,Forrest Gump,movie,"Drama, Romance",8.8,2316353.0,MX,1994,Drama
1,The Fifth Element,movie,"Action, Adventure, Sci-Fi",7.6,517121.0,"AT, CH, DE",1997,Action
2,Kill Bill: Vol. 1,movie,"Action, Crime, Thriller",8.2,1221791.0,"AE, AL, AO, AT, AU, AZ, BG, BH, BY, CA, CI, CM...",2003,Action
3,Jarhead,movie,"Biography, Drama, War",7.0,211547.0,"AD, AE, AG, AL, AO, AR, AT, AZ, BA, BB, BG, BH...",2005,Biography
4,Unforgiven,movie,"Drama, Western",8.2,443775.0,"AU, BA, BG, CZ, HR, HU, MD, ME, MK, NZ, PL, RO...",1992,Drama

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19492 entries, 0 to 19491
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               19492 non-null  object
 1   type                19492 non-null  object
 2   genres              19492 non-null  object
 3   imdbAverageRating   19492 non-null  float64
 4   imdbNumVotes        19492 non-null  float64
 5   availableCountries  19492 non-null  object
 6   releaseyear         19492 non-null  int64
 7   FirstGenre          19492 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 1.2+ MB

In [1]:
'mysql+mysqlconnector://<root>:<misba2131.>@<Localhost>:<3306>/<netflix>'

'mysql+mysqlconnector://<root>:<misba2131.>@<Localhost>:<3306>/<netflix>'

In [6]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\anaconda 3\lib\site-packages (9.1.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
pip install mysqlclient

Requirement already satisfied: mysqlclient in c:\users\user\anaconda 3\lib\site-packages (2.2.6)
Note: you may need to restart the kernel to use updated packages.

In [8]:
pip install PyMySQL

Requirement already satisfied: PyMySQL in c:\users\user\anaconda 3\lib\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [12]:
'mysql+mysqlconnector://<root>:<misba2131.>@<Localhost>:<3306>/<netflix>'

'mysql+mysqlconnector://<root>:<misba2131.>@<Localhost>:<3306>/<netflix>'

In [2]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import create_engine
# Configuration
csv_file_path = "Downloads/final_file.csv"  # Path to your CSV file
database_user = 'root'
database_password = 'misba2131.'
database_host = 'localhost'  # Change if using a remote host
database_name = 'netflix'
table_name = 'netflix'

# Create the database engine
engine = create_engine(f"mysql+mysqlconnector://{database_user}:{database_password}@{database_host}/{database_name}")

# Load CSV into a DataFrame
try:
    # Try reading the CSV with an alternative encoding (e.g., 'ISO-8859-1' or 'latin1')
    df = pd.read_csv(csv_file_path)
    print("CSV file loaded successfully!")
except Exception as e:
    print(f"Error loading CSV file: {e}")
    exit()

# Write data to MySQL database
try:
    # if_exists='replace' will drop the table if it exists and create a new one.
    # Use if_exists='append' to add data to the existing table.
    df.to_sql(table_name, con=engine, if_exists='replace', index=False)
    print(f"Data successfully loaded into {table_name} table!")
except Exception as e:
    print(f"Error writing to database: {e}")

CSV file loaded successfully!
Data successfully loaded into netflix table!